.project-grid {
  margin: 30px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.project {
  border: 2px solid var(--green);
  padding: 15px;
  opacity: 0.3;
  cursor: pointer;
}

.project:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 700px) {
  .project-grid {
    margin: 30px 10px;
  }
}
