.about-container {
  width: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 15px;
  justify-content: center;
}

.about-container p {
  margin-top: 20px;
}

.about-container p:last-child {
  margin-bottom: 20px;
}

.about-container a {
  text-decoration: none;
  color: var(--pink);
}

.about-container a:hover {
  text-decoration: underline;
  transform: scale(2);
}

.language-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.5);
}

.language-container img {
  height: 60px;
}

@media only screen and (max-width: 700px) {
  .about-container {
    width: 90%;
    margin: 50px 20px;
  }

  .language-container img {
    height: 40px;
  }
}
