.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-bottom: 40px;
}

.section h1 {
  z-index: 1;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: absolute;
}

.bg-K {
  opacity: 0.2;
  height: 550px;
  position: absolute;
  bottom: -220px;
  left: -250px;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.description h1 {
  font-size: 36px;
}

.short-description {
  margin-top: 20px;
  text-align: center;
}

.triangles {
  display: flex;
}

.triangle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Upward triangle */
.triangle-up-front {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 200px solid var(--bgColor);
  position: absolute;
  z-index: 1;
}

.triangle-up-back {
  border-left: 146px solid transparent;
  border-right: 146px solid transparent;
  border-bottom: 205px solid var(--yellow);
}

/* Downward triangle */
.triangle-down-front {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 202px solid var(--bgColor);
  position: absolute;
  z-index: 1;
}

.triangle-down-back {
  border-left: 146px solid transparent;
  border-right: 146px solid transparent;
  border-top: 206px solid var(--yellow);
}

/* Quote */
.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 1;
  background: var(--bgColor);
  opacity: 0.9;
  font-family: serif;
  font-size: 30px;
  transition: all ease 0.6s;
}

.quote-box:hover {
  transform: scale(1.2);
}

.link-btn {
  margin-top: 30px;
  padding: 10px 15px;
  background: var(--white);
  border: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  border-radius: 5px;
  z-index: 1;
}

.link-btn:hover {
  transform: scale(1.1);
}

.link-btn:active {
  transform: scale(1);
}

.link-btn a {
  text-decoration: none;
  color: var(--bgColor);
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
  gap: 10px;
  opacity: 0.3;
  width: 75%;
  position: absolute;
}

.projects img {
  width: 100%;
  height: 258px;
  object-fit: cover;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .description {
    top: 270px;
  }

  .description h1 {
    font-size: 30px;
  }

  .bg-K {
    opacity: 0.2;
    height: 250px;
    position: absolute;
    bottom: -60px;
    left: -45px;
  }

  /* Upward triangle */
  .triangle-up {
    position: relative;
    left: 30px;
  }

  .triangle-up-front {
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
    border-bottom: 94px solid var(--bgColor);
  }

  .triangle-up-back {
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 100px solid var(--yellow);
  }

  /* Downward triangle */
  .triangle-down {
    position: relative;
    right: 20px;
  }

  .triangle-down-front {
    border-left: 84px solid transparent;
    border-right: 84px solid transparent;
    border-top: 144px solid var(--bgColor);
  }

  .triangle-down-back {
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 150px solid var(--yellow);
  }

  .quote-box {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 22px;
  }

  .link-btn {
    font-size: 8px;
  }

  /* Projects */
  .projects {
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .projects img {
    height: 160px;
  }
}
