.form-container {
  min-height: 80vh;
}

/* Title animation */

.typewriter h1 {
  width: 220px;
  overflow: hidden;
  border-right: 0.15em solid var(--pink);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.12em;
  animation: typing 1.5s steps(10, end), blink-caret 0.8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--pink);
  }
}

/* Form */

form {
  width: 65%;
  min-height: 378px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--white);
  margin: 40px auto;
  padding: 20px;
  gap: 20px;
}

.right-form,
.left-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

input,
textarea {
  padding: 10px;
  margin-top: 10px;
  font-family: serif;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border: none;
  resize: none;
}

textarea {
  height: 205px;
}

input:focus,
textarea:focus {
  border: 1px solid var(--blue);
}

.submit-btn {
  margin: 10px auto;
  background: var(--pink);
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  font-family: inherit;
  cursor: pointer;
}

.submit-btn:hover {
  transform: scale(1.1);
}

.submit-btn:active {
  transform: scale(1);
  border: none;
}

.required {
  color: var(--pink);

  margin-top: 5px;
  font-size: 12px;
}

.success-message p {
  margin-bottom: 5px;
}

.success-message p:last-child {
  margin-top: 30px;
}

.success-message a {
  text-decoration: none;
  color: var(--bgColor);
  padding: 5px 8px;
  background: var(--green);
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}

.fa-check-circle {
  color: var(--green);
}

@media only screen and (max-width: 700px) {
  form {
    width: 100%;
    flex-direction: column;
    border: none;
    border-top: 1px solid var(--white);
    gap: 0;
    justify-content: center;
  }

  textarea {
    height: 150px;
  }
}
