:root {
  --blue: #00eeff;
  --green: #33ff00;
  --pink: #ff00ff;
  --yellow: #ffee00;
  --white: #ffffff;
  --bgColor: #0a0523;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background: var(--bgColor);
  font-family: monospace;
}

.container {
  padding-top: 120px;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
